In [1]:
import pandas as pd 
import numpy as np

In [2]:
MedianHI = pd.read_csv('/Users/ianmonroe/Desktop/Estimate of Median Household Income for Multnomah County, OR.csv')

In [3]:
MedianHI.describe()

              DATE MHIOR41051A052NCEN
count           31                 31
unique          31                 27
top     1992-01-01                  .
freq             1                  5

In [4]:
MedianHI.columns

Index(['DATE', 'MHIOR41051A052NCEN'], dtype='object')

In [5]:
print(MedianHI)

          DATE MHIOR41051A052NCEN
0   1989-01-01              26778
1   1990-01-01                  .
2   1991-01-01                  .
3   1992-01-01                  .
4   1993-01-01              29759
5   1994-01-01                  .
6   1995-01-01              34966
7   1996-01-01                  .
8   1997-01-01              38225
9   1998-01-01              40038
10  1999-01-01              40608
11  2000-01-01              43153
12  2001-01-01              42422
13  2002-01-01              41553
14  2003-01-01              41781
15  2004-01-01              42334
16  2005-01-01              43055
17  2006-01-01              45542
18  2007-01-01              48876
19  2008-01-01              51372
20  2009-01-01              50604
21  2010-01-01              48018
22  2011-01-01              46989
23  2012-01-01              51580
24  2013-01-01              53624
25  2014-01-01              53519
26  2015-01-01              58764
27  2016-01-01              62292
28  2017-01-01              63587
29  2018-01-01              70756
30  2019-01-01              72469

In [6]:
MedianHI.rename(columns = {'DATE':'Date', 'MHIOR41051A052NCEN':'MedianHouseholdIncome'},inplace=True)

In [7]:
MedianHI['MedianHouseholdIncome'].describe()

count     31
unique    27
top        .
freq       5
Name: MedianHouseholdIncome, dtype: object

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'mean')

In [10]:
MedianHI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   31 non-null     object
 1   MedianHouseholdIncome  31 non-null     object
dtypes: object(2)
memory usage: 624.0+ bytes

In [11]:
import datetime as dt

In [12]:
MedianHI['Date'] = pd.to_datetime(MedianHI['Date'])

In [13]:
MedianHI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   31 non-null     datetime64[ns]
 1   MedianHouseholdIncome  31 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 624.0+ bytes

In [14]:
def convertMHI(val):
    MedianHInew = val.replace('.','')
    return int(MedianHInew)

In [15]:
MedianHInew = np.where(MedianHI['MedianHouseholdIncome'] == '.',True,False)
print(MedianHInew)

[False  True  True  True False  True False  True False False False False
 False False False False False False False False False False False False
 False False False False False False False]

In [16]:
pd.to_numeric(MedianHI['MedianHouseholdIncome'],errors = "coerce")

0     26778.0
1         NaN
2         NaN
3         NaN
4     29759.0
5         NaN
6     34966.0
7         NaN
8     38225.0
9     40038.0
10    40608.0
11    43153.0
12    42422.0
13    41553.0
14    41781.0
15    42334.0
16    43055.0
17    45542.0
18    48876.0
19    51372.0
20    50604.0
21    48018.0
22    46989.0
23    51580.0
24    53624.0
25    53519.0
26    58764.0
27    62292.0
28    63587.0
29    70756.0
30    72469.0
Name: MedianHouseholdIncome, dtype: float64

In [17]:
for x in MedianHI:
    MedianHI['MedianHouseholdIncome'] = pd.to_numeric(MedianHI['MedianHouseholdIncome'],errors = "coerce")
print(MedianHI)

         Date  MedianHouseholdIncome
0  1989-01-01                26778.0
1  1990-01-01                    NaN
2  1991-01-01                    NaN
3  1992-01-01                    NaN
4  1993-01-01                29759.0
5  1994-01-01                    NaN
6  1995-01-01                34966.0
7  1996-01-01                    NaN
8  1997-01-01                38225.0
9  1998-01-01                40038.0
10 1999-01-01                40608.0
11 2000-01-01                43153.0
12 2001-01-01                42422.0
13 2002-01-01                41553.0
14 2003-01-01                41781.0
15 2004-01-01                42334.0
16 2005-01-01                43055.0
17 2006-01-01                45542.0
18 2007-01-01                48876.0
19 2008-01-01                51372.0
20 2009-01-01                50604.0
21 2010-01-01                48018.0
22 2011-01-01                46989.0
23 2012-01-01                51580.0
24 2013-01-01                53624.0
25 2014-01-01                53519.0
26 2015-01-01                58764.0
27 2016-01-01                62292.0
28 2017-01-01                63587.0
29 2018-01-01                70756.0
30 2019-01-01                72469.0

In [18]:
MedianHIclean = MedianHI.dropna()

In [19]:
for x in MedianHIclean:
    MedianHIclean['MedianHouseholdIncome'] = MedianHIclean['MedianHouseholdIncome'].astype(int)
print(MedianHIclean)

         Date  MedianHouseholdIncome
0  1989-01-01                  26778
4  1993-01-01                  29759
6  1995-01-01                  34966
8  1997-01-01                  38225
9  1998-01-01                  40038
10 1999-01-01                  40608
11 2000-01-01                  43153
12 2001-01-01                  42422
13 2002-01-01                  41553
14 2003-01-01                  41781
15 2004-01-01                  42334
16 2005-01-01                  43055
17 2006-01-01                  45542
18 2007-01-01                  48876
19 2008-01-01                  51372
20 2009-01-01                  50604
21 2010-01-01                  48018
22 2011-01-01                  46989
23 2012-01-01                  51580
24 2013-01-01                  53624
25 2014-01-01                  53519
26 2015-01-01                  58764
27 2016-01-01                  62292
28 2017-01-01                  63587
29 2018-01-01                  70756
30 2019-01-01                  72469

<ipython-input-19-6b50a6af969e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MedianHIclean['MedianHouseholdIncome'] = MedianHIclean['MedianHouseholdIncome'].astype(int)

In [20]:
max(MedianHIclean['MedianHouseholdIncome']) - min(MedianHIclean['MedianHouseholdIncome'])

45691

In [21]:
MHIgrowth = ((max(MedianHIclean['MedianHouseholdIncome']) - min(MedianHIclean['MedianHouseholdIncome']))/min(MedianHIclean['MedianHouseholdIncome'])*100)

In [22]:
print(MHIgrowth)

170.6288744491747

In [23]:
import matplotlib.pyplot as plt

In [24]:
Burdened = pd.read_csv('/Users/ianmonroe/Desktop/Burdened Households Multnomah.csv')

In [25]:
Burdened.info()
Burdened.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           10 non-null     object
 1   DP04ACS041051  10 non-null     float64
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes

       DP04ACS041051
count      10.000000
mean       41.766389
std         2.236333
min        37.718452
25%        40.269593
50%        42.528136
75%        43.560723
max        44.350556

In [26]:
Burdened.rename(columns={'DATE':'Date','DP04ACS041051':'Percentageburdened'},inplace=True)
print(Burdened)

         Date  Percentageburdened
0  2010-01-01           43.737783
1  2011-01-01           44.350556
2  2012-01-01           43.681692
3  2013-01-01           43.197817
4  2014-01-01           43.064114
5  2015-01-01           41.992158
6  2016-01-01           40.544391
7  2017-01-01           40.177993
8  2018-01-01           39.198933
9  2019-01-01           37.718452

In [27]:
Burdened['Date'] = pd.to_datetime(Burdened['Date'])
print(Burdened)

        Date  Percentageburdened
0 2010-01-01           43.737783
1 2011-01-01           44.350556
2 2012-01-01           43.681692
3 2013-01-01           43.197817
4 2014-01-01           43.064114
5 2015-01-01           41.992158
6 2016-01-01           40.544391
7 2017-01-01           40.177993
8 2018-01-01           39.198933
9 2019-01-01           37.718452

In [28]:
Burdened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                10 non-null     datetime64[ns]
 1   Percentageburdened  10 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 288.0 bytes

In [29]:
Burd_dec = ((Burdened['Percentageburdened'].iloc[-1]) - (Burdened['Percentageburdened'].iloc[0]))
Burd_dec = f"{Burd_dec:.2f}"
Burd_dec

'-6.02'

In [30]:
Educated = pd.read_csv('/Users/ianmonroe/Desktop/25 older associates mult.csv')
print(Educated)

          DATE  S1501ACSTOTAL041051
0   2009-01-01                 43.3
1   2010-01-01                 44.2
2   2011-01-01                 45.0
3   2012-01-01                 46.0
4   2013-01-01                 46.9
5   2014-01-01                 47.7
6   2015-01-01                 48.8
7   2016-01-01                 50.1
8   2017-01-01                 51.3
9   2018-01-01                 52.0
10  2019-01-01                 53.1

In [31]:
Educated = Educated.rename(columns = {'DATE':'Date','S1501ACSTOTAL041051':'Associates'})

In [32]:
Educated

          Date  Associates
0   2009-01-01        43.3
1   2010-01-01        44.2
2   2011-01-01        45.0
3   2012-01-01        46.0
4   2013-01-01        46.9
5   2014-01-01        47.7
6   2015-01-01        48.8
7   2016-01-01        50.1
8   2017-01-01        51.3
9   2018-01-01        52.0
10  2019-01-01        53.1

In [33]:
Educated['Date'] = pd.to_datetime(Educated['Date'])
Educated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        11 non-null     datetime64[ns]
 1   Associates  11 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 304.0 bytes

In [34]:
Inc_ineq = pd.read_csv('/Users/ianmonroe/Desktop/Income Inequality Multnomah.csv')
print(Inc_ineq)

         DATE  2020RATIO041051
0  2010-01-01        15.614588
1  2011-01-01        15.949927
2  2012-01-01        16.251869
3  2013-01-01        16.672212
4  2014-01-01        17.331961
5  2015-01-01        17.310903
6  2016-01-01        17.405963
7  2017-01-01        17.478169
8  2018-01-01        16.999243
9  2019-01-01        16.425600

In [35]:
Inc_ineq = Inc_ineq.rename(columns={'DATE':'Date','2020RATIO041051':'Inc_ineq_ratio'})
print(Inc_ineq)

         Date  Inc_ineq_ratio
0  2010-01-01       15.614588
1  2011-01-01       15.949927
2  2012-01-01       16.251869
3  2013-01-01       16.672212
4  2014-01-01       17.331961
5  2015-01-01       17.310903
6  2016-01-01       17.405963
7  2017-01-01       17.478169
8  2018-01-01       16.999243
9  2019-01-01       16.425600

In [36]:
priv_house = pd.read_csv('/Users/ianmonroe/Desktop/New Private housing permits mult.csv')
priv_house

          DATE  BPPRIV041051
0   1990-01-01        2620.0
1   1991-01-01        2179.0
2   1992-01-01        2225.0
3   1993-01-01        2300.0
4   1994-01-01        2725.0
5   1995-01-01        2946.0
6   1996-01-01        4191.0
7   1997-01-01        4405.0
8   1998-01-01        4312.0
9   1999-01-01        3641.0
10  2000-01-01        2591.0
11  2001-01-01        2896.0
12  2002-01-01        3282.0
13  2003-01-01        4871.0
14  2004-01-01        3842.0
15  2005-01-01        4573.0
16  2006-01-01        4187.0
17  2007-01-01        4733.0
18  2008-01-01        3043.0
19  2009-01-01        1040.0
20  2010-01-01        1235.0
21  2011-01-01        1417.0
22  2012-01-01        2377.0
23  2013-01-01        3855.0
24  2014-01-01        5090.0
25  2015-01-01        4832.0
26  2016-01-01        5092.0
27  2017-01-01        7055.0
28  2018-01-01        6238.0
29  2019-01-01        6098.0
30  2020-01-01        2709.0

In [37]:
priv_house = priv_house.rename(columns = {'DATE':'Date','BPPRIV041051':'New_perm'})
priv_house

          Date  New_perm
0   1990-01-01    2620.0
1   1991-01-01    2179.0
2   1992-01-01    2225.0
3   1993-01-01    2300.0
4   1994-01-01    2725.0
5   1995-01-01    2946.0
6   1996-01-01    4191.0
7   1997-01-01    4405.0
8   1998-01-01    4312.0
9   1999-01-01    3641.0
10  2000-01-01    2591.0
11  2001-01-01    2896.0
12  2002-01-01    3282.0
13  2003-01-01    4871.0
14  2004-01-01    3842.0
15  2005-01-01    4573.0
16  2006-01-01    4187.0
17  2007-01-01    4733.0
18  2008-01-01    3043.0
19  2009-01-01    1040.0
20  2010-01-01    1235.0
21  2011-01-01    1417.0
22  2012-01-01    2377.0
23  2013-01-01    3855.0
24  2014-01-01    5090.0
25  2015-01-01    4832.0
26  2016-01-01    5092.0
27  2017-01-01    7055.0
28  2018-01-01    6238.0
29  2019-01-01    6098.0
30  2020-01-01    2709.0

In [38]:
priv_house['Date'] = pd.to_datetime(priv_house['Date'])
priv_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      31 non-null     datetime64[ns]
 1   New_perm  31 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 624.0 bytes

In [39]:
MHI2010 = ((MedianHIclean['MedianHouseholdIncome'].iloc[-1] - MedianHIclean['MedianHouseholdIncome'].iloc[21])/(MedianHIclean['MedianHouseholdIncome'].iloc[21])*100)
MHI2010 = f"{MHI2010:.2f}"
print(MHI2010)

23.32

In [40]:
Edu_grow = (Educated['Associates'].iloc[-1] - Educated['Associates'].iloc[0])
Edu_grow = f"{Edu_grow:.2f}"
print(Edu_grow)

9.80

In [41]:
Inc_ineq_grow = (Inc_ineq['Inc_ineq_ratio'].iloc[-1]-Inc_ineq['Inc_ineq_ratio'].iloc[0])
Inc_ineqg = f"{Inc_ineq_grow:.2f}"
print(Inc_ineqg)

0.81

In [42]:
migr = pd.read_csv('/Users/ianmonroe/Desktop/Net County to county migr. flow Mult .csv')
migr = migr.rename(columns = {'DATE':'Date','NETMIGNACS041051':'Netmigr'})
migr['Date'] = pd.to_datetime(migr['Date'])
migrchg = ((migr['Netmigr'].iloc[-1] - migr['Netmigr'].iloc[1])/migr['Netmigr'].iloc[1])*100
migrchg = f"{migrchg:.2f}"
migrchg

'-123.70'

In [43]:
MHIgrow = f"{MHIgrowth:.2f}"
MHIG = float(MHIgrow)
print('Demographic Data:')
print ('The Median Household Income has grown',(MHIG),'% between 1989 and 2019.')
print('The Median Household Income has grown',(MHI2010),'% betweeen 2010 and 2019.')
print('The percentage of the population aged 25 and older with an Associates degree has increased',(Edu_grow),'% between 2010 and 2019.')
print('Income Inequality has grown',(Inc_ineqg),'% since 2010.')
print('Net migration to Multnomah County has changed',(migrchg),'% between 2010 and 2019.')

Demographic Data:
The Median Household Income has grown 170.63 % between 1989 and 2019.
The Median Household Income has grown 23.32 % betweeen 2010 and 2019.
The percentage of the population aged 25 and older with an Associates degree has increased 9.80 % between 2010 and 2019.
Income Inequality has grown 0.81 % since 2010.
Net migration to Multnomah County has changed -123.70 % between 2010 and 2019.

In [44]:
privhg = (((priv_house['New_perm'].iloc[-2]) - (priv_house['New_perm'].iloc[20]))/(priv_house['New_perm'].iloc[20]))*100
privhg = f"{privhg:.2f}"

In [45]:
print('Housing Data:')
print('Between 2010 and 2019, New Private Housing Permits increased',(privhg),'%. With that being said, this metric is very volatile, with a standard deviation of 1480 between 1990 and 2020.')
print('The number of Burdened Households has fallen by',(Burd_dec),'%between 2010 and 2019')

Housing Data:
Between 2010 and 2019, New Private Housing Permits increased 393.77 %. With that being said, this metric is very volatile, with a standard deviation of 1480 between 1990 and 2020.
The number of Burdened Households has fallen by -6.02 %between 2010 and 2019

In [50]:
hvalue = pd.read_csv('/Users/ianmonroe/Desktop/PDXhvalue.csv')
hvalue

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30
0,102001,0,United States,Country,NaN,127104.0,127448.0,127809.0,128546.0,129288.0,...,274766.0,278419.0,282276.0,286980.0,292503.0,298382.0,303772.0,308393.0,312486.0,316368.0
1,394913,1,"New York, NY",Msa,NY,223875.0,225213.0,226416.0,228785.0,230991.0,...,520343.0,524700.0,529431.0,534932.0,542083.0,549998.0,557578.0,563469.0,568010.0,571556.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,231151.0,231956.0,233189.0,235533.0,238046.0,...,748563.0,756432.0,767475.0,783139.0,802944.0,823842.0,837285.0,846395.0,851153.0,858357.0
3,394463,3,"Chicago, IL",Msa,IL,169017.0,169416.0,169932.0,170965.0,172060.0,...,258870.0,260970.0,263993.0,266728.0,270524.0,274664.0,278755.0,281808.0,284452.0,287131.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,130276.0,130380.0,130466.0,130678.0,130900.0,...,280524.0,284541.0,290061.0,296469.0,303787.0,311586.0,319478.0,326661.0,332734.0,338194.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,82855.0,84208.0,84507.0,85007.0,85454.0,86430.0,87558.0,88618.0,89553.0,90119.0
904,753874,930,"Craig, CO",Msa,CO,94599.0,94943.0,95525.0,96216.0,96930.0,...,213811.0,218896.0,222687.0,226006.0,229443.0,232512.0,236189.0,239474.0,242446.0,244056.0
905,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,141850.0,144107.0,146004.0,148185.0,150226.0,152684.0,157771.0,162536.0,167256.0,168297.0
906,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,70343.0,71389.0,71751.0,72137.0,72796.0,73494.0,74093.0,74565.0,74896.0,75166.0
907,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,322481.0,324575.0,326697.0,328863.0,330409.0,331974.0,333699.0,335928.0,337876.0,339435.0

In [81]:
hvalue['RegionName'] = hvalue['RegionName'].astype(str)